includes:
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- src
	symfony:
		container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
	doctrine:
		objectManagerLoader: tests/object-manager.php
	checkGenericClassInNonGenericObjectType: false