<h2 class="text-primary text-decoration-underline ms-3 my-4">Documents supplémentaire</h2>
<div class="row justify-content-center p-0 mb-4">
    <div class="col-lg-6">
        <div class="card shadow text-bg-light border-dark text-center mb-3 mx-auto" style="max-width: 22rem;">
            <img src="{{ asset('build/medias/images/TableauHiragana.png') }}" class="card-img-top">
            <hr class="m-0">
            <div class="card-body">
                <h3>Tableau des hiragana</h3>
                <a class="btn btn-info text-white btn-lg mx-auto" download="logo.png">Télécharger le document</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow text-bg-light border-dark text-center mb-3 mx-auto" style="max-width: 22rem;">
            <img src="{{ asset('build/medias/images/TableauKatakana.png') }}" class="card-img-top">
            <hr class="m-0">
            <div class="card-body">
                <h3>Tableau des katakana</h3>
                <a class="btn btn-info text-white btn-lg mx-auto" download="logo.png">Télécharger le document</a>
            </div>
        </div>
    </div>
</div>