{% extends 'base.html.twig' %}

{% set page_title = 'Leçons' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_lessons') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_lessons') }}
{% endblock %}

{% block body %}
    <h1 class="text-success text-center mb-5">Liste des leçons</h1>

    {% include 'app/pages/lessons/lessons.html.twig' %}

    {% include 'app/pages/lessons/annexes.html.twig' %}

    <div class="row">
        <div class="col text-center">
            <h4 class="text-center">cours en ligne</h4>
            <a class="btn btn-warning btn-lg" href="{{ path('app_online_lesson') }}">Cours en ligne</a>
        </div>
    </div>
{% endblock %}