{% extends 'base.html.twig' %}

{% set page_title = 'Leçons' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_lessons') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_lessons') }}
{% endblock %}

{% block body %}
    {% include 'app/pages/lessons/lessons.html.twig' %}

    {# {% include 'app/pages/lessons/annexes.html.twig' %} #}

    <div class="row">
        <div class="col text-center">
            <p class="fs-3 text-center">Marre des cours théoriques ? <br>
                Tu peux toujours aller voir des cours en ligne !
            </p>
            <a class="btn btn-warning btn-lg text-light mb-3" href="{{ path('app_online_lesson') }}">Cours en ligne</a>
        </div>
    </div>
{% endblock %}