<form>
    <div class="col-8">
        <label class="form-label fs-3">Prénom : </label>
        <input type="text" class="form-control mb-3" placeholder="{{ app.user.firstname }}" readonly>
    </div>
    <div class="col-8">
        <label class="form-label fs-3">Nom : </label>
        <input type="text" id="disabledTextInput" class="form-control mb-3" placeholder="{{ app.user.lastname }}" readonly>
    </div>
    <div class="col-8">
        <label class="form-label fs-3">Nom d'utilisateur : </label>
        <input type="text" id="disabledTextInput" class="form-control mb-3" placeholder="{{ app.user.name }}" readonly>
    </div>
    <div class="col-8">
        <label class="form-label fs-3">Email : </label>
        <input type="text" id="disabledTextInput" class="form-control mb-3" placeholder="{{ app.user.email }}" readonly>
    </div>
</form>
