<form>
    <fieldset disabled>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Prénom : </label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ app.user.firstname }}">
        </div>
    </fieldset>
</form>
