{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_profile') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_profile') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Profil</h1>
{% endblock %}