{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_profile') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_profile') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Profil</h1>
    <div class="d-flex flex-column flex-md-row">
        <div class="card mb-4 mb-md-0 me-0 me-md-4">
            <div class="card-body bg-light">
                <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                    <li class="nav-item mb-3" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span class="fa-duotone fa-fw fa-user me-2"></span>Informations générales</button>
                    </li>
                    <li class="nav-item mb-3" role="presentation">
                        <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#statistics-tab-pane" type="button" role="tab" aria-controls="statistics-tab-pane" aria-selected="false"><span class="fa-duotone fa-fw fa-list-timeline me-2"></span>Statistiques / Progression</button>
                    </li>
                    <li class="nav-item mb-3" role="presentation">
                        <button class="nav-link" id="logs-tab" data-bs-toggle="tab" data-bs-target="#logs-tab-pane" type="button" role="tab" aria-controls="logs-tab-pane" aria-selected="false"><span class="fa-duotone fa-fw fa-clock-rotate-left me-2"></span>Historique d'activité</button>
                    </li>
                    <li class="nav-item mb-3" role="presentation">
                        <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security-tab-pane" type="button" role="tab" aria-controls="security-tab-pane" aria-selected="false"><span class="fa-duotone fa-fw fa-vault me-2"></span>Mot de passe - Sécurité</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="delete-tab" data-bs-toggle="tab" data-bs-target="#delete-tab-pane" type="button" role="tab" aria-controls="delete-tab-pane" aria-selected="false"><span class="fa-duotone fa-fw fa-transporter-2 me-2"></span>Supprimer mon compte</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-fill">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            {% include 'app/pages/profile/_index.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="statistics-tab-pane" role="tabpanel" aria-labelledby="statistics-tab" tabindex="0">
                            {% include 'app/pages/profile/_statistics.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="logs-tab-pane" role="tabpanel" aria-labelledby="logs-tab" tabindex="0">
                            {% include 'app/pages/profile/_logs.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="security-tab-pane" role="tabpanel" aria-labelledby="security-tab" tabindex="0">
                            {% include 'app/pages/profile/_security.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="delete-tab-pane" role="tabpanel" aria-labelledby="delete-tab" tabindex="0">
                            {% include 'app/pages/profile/_delete.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}