svg.fa-facebook:hover {
  color: #4267B2;
  transition: all .2s ease-in;
}

svg.fa-twitter:hover {
  color: #1DA1F2;
  transition: all .2s ease-in;
}

svg.fa-instagram:hover {
  color: #E1306C;
  transition: all .2s ease-in;
}
