{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_pages_home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front_pages_home') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Homepage</h1>
{% endblock %}