<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %} Baruu</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://kit.fontawesome.com/94a36ec1da.js" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'common/components/_navbar.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% include 'common/components/_footer.html.twig' %}
    </body>
</html>
