<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <script src="https://kit.fontawesome.com/94a36ec1da.js" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
{% include 'common/components/_navbar.html.twig' %}
<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 200" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(188, 0, 45, 1)" offset="0%"></stop><stop stop-color="rgba(188, 0, 45, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,100L17.1,93.3C34.3,87,69,73,103,76.7C137.1,80,171,100,206,106.7C240,113,274,107,309,93.3C342.9,80,377,60,411,70C445.7,80,480,120,514,130C548.6,140,583,120,617,123.3C651.4,127,686,153,720,160C754.3,167,789,153,823,130C857.1,107,891,73,926,70C960,67,994,93,1029,96.7C1062.9,100,1097,80,1131,70C1165.7,60,1200,60,1234,73.3C1268.6,87,1303,113,1337,120C1371.4,127,1406,113,1440,110C1474.3,107,1509,113,1543,100C1577.1,87,1611,53,1646,53.3C1680,53,1714,87,1749,86.7C1782.9,87,1817,53,1851,60C1885.7,67,1920,113,1954,136.7C1988.6,160,2023,160,2057,143.3C2091.4,127,2126,93,2160,80C2194.3,67,2229,73,2263,93.3C2297.1,113,2331,147,2366,143.3C2400,140,2434,100,2451,80L2468.6,60L2468.6,200L2451.4,200C2434.3,200,2400,200,2366,200C2331.4,200,2297,200,2263,200C2228.6,200,2194,200,2160,200C2125.7,200,2091,200,2057,200C2022.9,200,1989,200,1954,200C1920,200,1886,200,1851,200C1817.1,200,1783,200,1749,200C1714.3,200,1680,200,1646,200C1611.4,200,1577,200,1543,200C1508.6,200,1474,200,1440,200C1405.7,200,1371,200,1337,200C1302.9,200,1269,200,1234,200C1200,200,1166,200,1131,200C1097.1,200,1063,200,1029,200C994.3,200,960,200,926,200C891.4,200,857,200,823,200C788.6,200,754,200,720,200C685.7,200,651,200,617,200C582.9,200,549,200,514,200C480,200,446,200,411,200C377.1,200,343,200,309,200C274.3,200,240,200,206,200C171.4,200,137,200,103,200C68.6,200,34,200,17,200L0,200Z"></path></svg>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% include 'common/components/_footer.html.twig' %}
</body>
</html>
