{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_pages_login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_pages_login') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Security - Login</h1>
{% endblock %}